release/category.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>pug</title>
  </head>
  <body class="page">
    <div class="page_header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg p-0">
              <div class="collapse navbar-collapse d-flex justify-content-between">
                <ul class="navbar-nav d-flex align-items-start justify-content-start">
                  <li class="nav-item active"><a class="nav-link" href="#">Главная</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Покупателям</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">О компании</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                </ul>
                <div class="d-flex justify-content-end align-items-center">
                  <form class="form__search pr-4">
                    <label>
                      <input type="text">
                    </label>
                  </form>
                  <div class="login pl-5"><img src="img/user.svg" alr="img"><a href="#">Войти</a></div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="page__header page__header_second">
      <div class="container">
        <div class="row">
          <div class="col-2"><a href="#"><img class="w-100" src="img/logo.svg" alt="logo"></a></div>
          <div class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex">
            <div class="d-flex justify-content-between align-items-center"><img src="img/auricular-phone-symbol-in-a-circle.svg" alt="img"><a class="d-flex flex-column align-items-start pl-3" href="#"><span class="phone">+7 900 000 00 00</span><span class="d-inline line_underline">Заказать звонок</span></a></div><span class="d-flex align-items-center px-5">Ежедневно<br>с 8:00 до 20:00</span>
          </div>
          <div class="col-2 offset-1 d-flex justify-content-center align-items-center"><a class="order d-flex justify-content-between align-items-center" href="#">
              <div class="order__left"><span class="order__count">4</span><img src="img/shopping-cart.svg" alt="img"></div>
              <div class="order__right pl-3 d-flex flex-column"><span>Всего</span><span><span class="order__price">2950</span><span class="order__val"> &#8381;</span></span></div></a></div>
        </div>
      </div>
    </div>
    <div class="page__gradient_line"></div>
    <div class="container category">
      <ul class="row justify-content-between m-0 py-3">
        <li class="p-0"><a href="#">Фитосвет и лампы</a></li>
        <li class="p-0"><a href="#">Бонги</a></li>
        <li class="p-0"><a href="#">Тюнинг</a></li>
        <li class="p-0"><a href="#">Тайники</a></li>
        <li class="p-0"><a href="#">Аксессуары</a></li>
        <li class="p-0"><a href="#">Вайпорайзеры</a></li>
        <li class="p-0"><a href="#">Трубки</a></li>
        <li class="p-0"><a href="#">Гриндеры</a></li>
        <li class="p-0"><a href="#">Бумажки</a></li>
        <li class="p-0"><a href="#">Стикербуки</a></li>
        <li class="p-0"><a href="#">Вейп</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">home</a></li>
              <li class="breadcrumb-item active" aria-current="page">home</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row brend d-none d-lg-flex d-xl-flex">
        <div class="col-12"><span>Бренд</span></div>
      </div>
      <div class="row new__items align-items-start py-5">
        <div class="d-block d-lg-none d-xl-none col-12 pb-3">
          <button class="btn_filter">Бренд</button>
        </div>
        <div class="col-12 col-lg-3 col-xl-3 new__items__filtr">
          <div class="new__items__filtr_form">
            <form>
              <label class="checkbox">
                <input type="checkbox">
                <div>             </div><span>AirVape</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <div>             </div><span>AirVape</span>
              </label>
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-9 col-xl-9">
          <div class="row"><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a><a class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#"><img src="img/xy104sj05-g1.png" alt="img">
              <div>
                <div class="new__items__item_option_1 d-flex justify-content-between py-2"><span>Раздел</span><span>артикул</span></div>
                <div class="new__items__item_option_2 py-2 d-flex justify-content-between"><span>Название товара</span>
                  <p><span>36 500</span><span>₽</span></p>
                </div>
                <form class="d-flex justify-content-center">
                  <button class="btn my-4">В корзину</button>
                </form>
              </div></a></div>
        </div>
      </div>
    </div>
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Помощь</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Возврат</a></li>
              <li><a href="#">Корзина</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Акции</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Новинки</a></li>
              <li><a href="#">Лояльность</a></li>
              <li><a href="#">Купоны</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Оптовикам</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Регистрация</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Описание API</a></li>
              <li><a href="#">Дропшиппинг</a></li>
              <li><a href="#">Франчайзинг</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3"><span class="footer__header py-4 text-center text-lg-left">Контакты</span>
            <div class="d-flex justify-content-center"><a class="mx-2" href="#"><img src="img/003-youtube.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/002-twitter.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/001-instagram.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/004-google-plus.svg" alt="img"></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

source/html/category.pug
doctype html
html(lang="ru")
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    link(rel="stylesheet" href="css/style.css")
    title pug
  body(class="page")
    div(class="page_header")
      div(class="container")
        div(class="row")
          div(class="col-12")
            nav(class="navbar navbar-expand-lg p-0")
              div(class="collapse navbar-collapse d-flex justify-content-between")
                ul(class="navbar-nav d-flex align-items-start justify-content-start")
                  li(class="nav-item active")
                    a(class="nav-link" href="#")
                      | Главная
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Каталог
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Покупателям
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | О компании
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Контакты
                div(class="d-flex justify-content-end align-items-center")
                  form(class="form__search pr-4")
                    label
                      input(type="text")
                  div(class="login pl-5")
                    img(src="img/user.svg" alr="img")
                    a(href="#" class="")
                      | Войти
    div(class="page__header page__header_second")
      div(class="container")
        div(class="row")
          div(class="col-2")
            a(href="#")
              img(src="img/logo.svg" class="w-100" alt="logo")
          div(class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex")
            div(class="d-flex justify-content-between align-items-center")
              img(src="img/auricular-phone-symbol-in-a-circle.svg" alt="img")
              a(href="#" class="d-flex flex-column align-items-start pl-3")
                span(class="phone")
                  | +7 900 000 00 00
                span(class="d-inline line_underline")
                  | Заказать звонок
            span(class="d-flex align-items-center px-5")
              | Ежедневно<br>с 8:00 до 20:00


          div(class="col-2 offset-1 d-flex justify-content-center align-items-center")
            a(class="order d-flex justify-content-between align-items-center" href="#")
              div(class="order__left")
                span(class="order__count")
                  | 4
                img(src="img/shopping-cart.svg" alt="img")
              div(class="order__right pl-3 d-flex flex-column")
                span
                  | Всего
                span
                  span(class="order__price")
                    | 2950
                  span(class="order__val")
                    |  &#8381;
    div(class="page__gradient_line")
    div(class="container category")
      ul(class="row justify-content-between m-0 py-3")
        li(class="p-0")
          a(href="#")
            | Фитосвет и лампы
        li(class="p-0")
          a(href="#")
            | Бонги
        li(class="p-0")
          a(href="#")
            | Тюнинг
        li(class="p-0")
          a(href="#")
            | Тайники
        li(class="p-0")
          a(href="#")
            | Аксессуары
        li(class="p-0")
          a(href="#")
            | Вайпорайзеры
        li(class="p-0")
          a(href="#")
            | Трубки
        li(class="p-0")
          a(href="#")
            | Гриндеры
        li(class="p-0")
          a(href="#")
            | Бумажки
        li(class="p-0")
          a(href="#")
            | Стикербуки
        li(class="p-0")
          a(href="#")
            | Вейп
    div(class="container")
      div(class="row py-5")
        div(class="col-12")
          nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
              li(class="breadcrumb-item")
                a(href="#")
                  | home
              li(class="breadcrumb-item active" aria-current="page")
                  | home
      div(class="row brend d-none d-lg-flex d-xl-flex")
        div(class="col-12")
          span
            | Бренд
      div(class="row new__items align-items-start py-5")
        div(class="d-block d-lg-none d-xl-none col-12 pb-3")
          button(class="btn_filter")
            | Бренд
        div(class="col-12 col-lg-3 col-xl-3 new__items__filtr")
          div(class="new__items__filtr_form")
            form()
              label(class="checkbox")
                input(type="checkbox" )
                div(class="")              
                span
                  | AirVape
              label(class="checkbox")
                input(type="checkbox" )
                div(class="")              
                span
                  | AirVape

        div(class="col-12 col-lg-9 col-xl-9")
          div(class="row")
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину
            a(class="col-12 col-md-12 col-sm-12 col-lg-4 col-xl-4 new__items__item" href="#")
              img(src="img/xy104sj05-g1.png" alt="img")
              div()
                div(class="new__items__item_option_1 d-flex justify-content-between py-2")
                  span
                    | Раздел
                  span
                    | артикул
                div(class="new__items__item_option_2 py-2 d-flex justify-content-between")
                  span
                    | Название товара
                  p
                    span
                      | 36 500
                    span
                      | ₽
                form(class="d-flex justify-content-center")
                  button(class="btn my-4")
                    | В корзину






    footer(class="footer py-5")
      div(class="container")
        div(class="row")
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Помощь
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Возврат
              li
                a(class="" href="#")
                  | Корзина
              li
                a(class="" href="#")
                  | Блог
              li
                a(class="" href="#")
                  | Контакты
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Акции
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Новинки
              li
                a(class="" href="#")
                  | Лояльность
              li
                a(class="" href="#")
                  | Купоны
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Оптовикам
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Регистрация
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Описание API
              li
                a(class="" href="#")
                  | Дропшиппинг
              li
                a(class="" href="#")
                  | Франчайзинг
          div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3")
            span(class="footer__header py-4 text-center text-lg-left")
              | Контакты
            div(class="d-flex justify-content-center")
              a(href="#" class="mx-2")
                img(src="img/003-youtube.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/002-twitter.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/001-instagram.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/004-google-plus.svg" alt="img")




    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src="js/main.js")
