release/order.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>pug</title>
  </head>
  <body class="page">
    <div class="page_header d-none d-lg-block d-xl-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg p-0">
              <div class="collapse navbar-collapse d-flex justify-content-between">
                <ul class="navbar-nav d-flex align-items-start justify-content-start">
                  <li class="nav-item active"><a class="nav-link" href="#">Главная</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Покупателям</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">О компании</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                </ul>
                <div class="d-flex justify-content-end align-items-center">
                  <form class="form__search pr-4">
                    <label>
                      <input type="text">
                      <button class="search__btn"></button>
                    </label>
                  </form>
                  <div class="login pl-5"><img src="img/user.svg" alr="img"><a href="#">Войти</a></div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="page__header page__header_second">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light d-flex align-items-center  p-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand col-3 col-lg-2 col-xl-2 pl-4 pl-lg-0 pl-xl-0 m-0" href="#"><img class="w-100" src="img/logo.svg" alt="logo"></a>
          <div class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex">
            <div class="d-flex justify-content-between align-items-center"><img src="img/auricular-phone-symbol-in-a-circle.svg" alt="img"><a class="d-flex flex-column align-items-start pl-3" href="#"><span class="phone">+7 900 000 00 00</span><span class="d-inline line_underline">Заказать звонок</span></a></div><span class="d-flex align-items-center px-5">Ежедневно<br>с 8:00 до 20:00</span>
          </div>
          <div class="col-7 col-lg-2 col-xl-2 offset-lg-1 offset-xl-1 p-0">
            <div class="  d-flex justify-content-end align-items-center p-0"><a class="order d-flex  align-items-center justify-content-between" href="#">
                <div class="order__left  d-lg-flex d-xl-flex"><span class="order__count">4</span><img src="img/shopping-cart.svg" alt="img"></div>
                <div class="order__right pl-lg-5 pl-xl-5  d-flex flex-column"><span>Всего</span><span><span class="order__price">2950</span><span class="order__val"> &#8381;</span></span></div></a>
              <div class="d-block d-lg-none d-xl-none pl-4">
                <div class="login"><a href="#">Войти</a></div>
              </div>
            </div>
          </div>
          <div class="d-block d-lg-none d-xl-none">
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Главная</a></li>
                <li class="nav-item dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a class="nav-link dropdown-toggle" href="#">Каталог</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Фитосвет и лампы</a><a class="dropdown-item" href="#">Бонги</a><a class="dropdown-item" href="#">Тюнинг</a><a class="dropdown-item" href="#">Тайники</a><a class="dropdown-item" href="#">Аксессуары</a><a class="dropdown-item" href="#">Вайпорайзеры</a><a class="dropdown-item" href="#">Трубки</a><a class="dropdown-item" href="#">Гриндеры</a><a class="dropdown-item" href="#">Бумажки</a><a class="dropdown-item" href="#">Стикербуки</a><a class="dropdown-item" href="#">Вейп</a></div>
                </li>
                <li class="nav-item "><a class="nav-link" href="#">Покупателям</a></li>
                <li class="nav-item "><a class="nav-link" href="#">О компании</a></li>
                <li class="nav-item "><a class="nav-link" href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container py-3 d-block d-lg-none d-xl-none">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <form class="form__search pr-4">
            <label>
              <input class="black" type="text">
              <button class="search__btn"></button>
            </label>
          </form>
        </div>
      </div>
    </div>
    <div class="page__gradient_line"></div>
    <div class="container category d-none d-lg-block d-xl-block">
      <ul class="row justify-content-between m-0 py-3">
        <li class="p-0"><a href="#">Фитосвет и лампы</a></li>
        <li class="p-0"><a href="#">Бонги</a></li>
        <li class="p-0"><a href="#">Тюнинг</a></li>
        <li class="p-0"><a href="#">Тайники</a></li>
        <li class="p-0"><a href="#">Аксессуары</a></li>
        <li class="p-0"><a href="#">Вайпорайзеры</a></li>
        <li class="p-0"><a href="#">Трубки</a></li>
        <li class="p-0"><a href="#">Гриндеры</a></li>
        <li class="p-0"><a href="#">Бумажки</a></li>
        <li class="p-0"><a href="#">Стикербуки</a></li>
        <li class="p-0"><a href="#">Вейп</a></li>
      </ul>
    </div>
    <div class="container-fluid page__gradient_block slider d-none d-lg-block d-xl-block"></div>
    <div class="container">
      <div class="row py-5">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Корзина</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="container order py-4">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-9 col-xl-9">
          <div class="d-flex justify-content-start align-items-start order__item flex-column flex-lg-row flex-xl-row">
            <div class="img"><img src="img/wtf643q9.png" alt="img"></div>
            <div class="d-flex flex-column order__option"><span class="order__header pb-4">БОНГ NAUTILUS BAMBOO 32</span>
              <sapn class="order__articl">Артикул: TY51-HR09-CLBW</sapn>
              <form class="d-flex justify-content-left form__numbers pt-4">
                <button class="number__minus">-</button><span class="form__numbers_val">0</span>
                <input class="mx-2" type="number" value="0" min="0" readonly hidden>
                <button class="number__plus">+</button>
              </form>
            </div>
            <div class="d-flex align-items-end">
              <div class="order_old_price"><span><span class="order__price">2950</span><span class="order__val"> &#8381;</span></span></div>
              <div class="order_new_price"><span><span class="order__price">2950</span><span class="order__val"> &#8381;</span></span></div>
            </div>
            <div class="order__item__close">
              <form>
                <button></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 pt-4 pt-lg-0 pt-xl-0">
          <div class="order__final">
            <div class="d-flex justify-content-between align-items-end"><span>Итого:</span><span><span class="order__price">2950</span><span class="order__val"> &#8381;</span></span></div>
            <form class="pt-5 d-flex justify-content-center">
              <button class="btn">Оформить заказ</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Помощь</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Возврат</a></li>
              <li><a href="#">Корзина</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Акции</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Новинки</a></li>
              <li><a href="#">Лояльность</a></li>
              <li><a href="#">Купоны</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3"><span class="footer__header py-4">Оптовикам</span>
            <ul class="d-flex  flex-column">
              <li><a href="#">Регистрация</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Описание API</a></li>
              <li><a href="#">Дропшиппинг</a></li>
              <li><a href="#">Франчайзинг</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3"><span class="footer__header py-4 text-center text-lg-left">Контакты</span>
            <div class="d-flex justify-content-center"><a class="mx-2" href="#"><img src="img/003-youtube.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/002-twitter.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/001-instagram.svg" alt="img"></a><a class="mx-2" href="#"><img src="img/004-google-plus.svg" alt="img"></a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

source/html/order.pug
doctype html
html(lang="ru")
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
    link(rel="stylesheet" href="css/style.css")
    title pug
  body(class="page")
    div(class="page_header d-none d-lg-block d-xl-block")
      div(class="container")
        div(class="row")
          div(class="col-12")
            nav(class="navbar navbar-expand-lg p-0")
              div(class="collapse navbar-collapse d-flex justify-content-between")
                ul(class="navbar-nav d-flex align-items-start justify-content-start")
                  li(class="nav-item active")
                    a(class="nav-link" href="#")
                      | Главная
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Каталог
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Покупателям
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | О компании
                  li(class="nav-item")
                    a(class="nav-link" href="#")
                      | Контакты
                div(class="d-flex justify-content-end align-items-center")
                  form(class="form__search pr-4")
                    label
                      input(type="text")
                      button(class="search__btn")
                  div(class="login pl-5")
                    img(src="img/user.svg" alr="img")
                    a(href="#" class="")
                      | Войти
    div(class="page__header page__header_second")
      div(class="container")
        nav(class="navbar navbar-expand-lg navbar-light d-flex align-items-center  p-0")
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
          a(href="#" class="navbar-brand col-3 col-lg-2 col-xl-2 pl-4 pl-lg-0 pl-xl-0 m-0")
              img(src="img/logo.svg" class="w-100" alt="logo")
          div(class="col-6 offset-1 justify-content-between d-none d-md-none d-sm-none d-lg-flex d-xl-flex")
            div(class="d-flex justify-content-between align-items-center")
              img(src="img/auricular-phone-symbol-in-a-circle.svg" alt="img")
              a(href="#" class="d-flex flex-column align-items-start pl-3")
                span(class="phone")
                  | +7 900 000 00 00
                span(class="d-inline line_underline")
                  | Заказать звонок
            span(class="d-flex align-items-center px-5")
              | Ежедневно<br>с 8:00 до 20:00


          div(class="col-7 col-lg-2 col-xl-2 offset-lg-1 offset-xl-1 p-0")
            div(class="  d-flex justify-content-end align-items-center p-0")
              a(class="order d-flex  align-items-center justify-content-between" href="#")
                div(class="order__left  d-lg-flex d-xl-flex")
                  span(class="order__count")
                    | 4
                  img(src="img/shopping-cart.svg" alt="img")
                div(class="order__right pl-lg-5 pl-xl-5  d-flex flex-column")
                  span
                    | Всего
                  span
                    span(class="order__price")
                      | 2950
                    span(class="order__val")
                      |  &#8381;
              div(class="d-block d-lg-none d-xl-none pl-4")
                    div(class="login")
                      a(href="#" class="")
                        | Войти
          div(class="d-block d-lg-none d-xl-none")
            div(class="collapse navbar-collapse" id="navbarText")
              ul(class="navbar-nav mr-auto")
                li(class="nav-item active")
                  a(class="nav-link" href="#")
                    | Главная
                li(class="nav-item dropdown" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  a(class="nav-link dropdown-toggle" href="#")
                    | Каталог
                  div(class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink")
                    a(class="dropdown-item" href="#")
                      | Фитосвет и лампы
                    a(class="dropdown-item" href="#")
                      | Бонги
                    a(class="dropdown-item" href="#")
                      | Тюнинг
                    a(class="dropdown-item" href="#")
                      | Тайники
                    a(class="dropdown-item" href="#")
                      | Аксессуары
                    a(class="dropdown-item" href="#")
                      | Вайпорайзеры
                    a(class="dropdown-item" href="#")
                      | Трубки
                    a(class="dropdown-item" href="#")
                      | Гриндеры
                    a(class="dropdown-item" href="#")
                      | Бумажки
                    a(class="dropdown-item" href="#")
                      | Стикербуки
                    a(class="dropdown-item" href="#")
                      | Вейп
                li(class="nav-item ")
                  a(class="nav-link" href="#")
                    | Покупателям
                li(class="nav-item ")
                  a(class="nav-link" href="#")
                    | О компании
                li(class="nav-item ")
                  a(class="nav-link" href="#")
                    | Контакты
    div(class="container py-3 d-block d-lg-none d-xl-none")
      div(class="row")
        div(class="col-12 d-flex justify-content-center")
          form(class="form__search pr-4")
            label
              input(type="text" class="black")
              button(class="search__btn")
    div(class="page__gradient_line")
    div(class="container category d-none d-lg-block d-xl-block")
      ul(class="row justify-content-between m-0 py-3")
        li(class="p-0")
          a(href="#")
            | Фитосвет и лампы
        li(class="p-0")
          a(href="#")
            | Бонги
        li(class="p-0")
          a(href="#")
            | Тюнинг
        li(class="p-0")
          a(href="#")
            | Тайники
        li(class="p-0")
          a(href="#")
            | Аксессуары
        li(class="p-0")
          a(href="#")
            | Вайпорайзеры
        li(class="p-0")
          a(href="#")
            | Трубки
        li(class="p-0")
          a(href="#")
            | Гриндеры
        li(class="p-0")
          a(href="#")
            | Бумажки
        li(class="p-0")
          a(href="#")
            | Стикербуки
        li(class="p-0")
          a(href="#")
            | Вейп
    div(class="container-fluid page__gradient_block slider d-none d-lg-block d-xl-block")
    
    div(class="container")
      div(class="row py-5")
        div(class="col-12")
          nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
              li(class="breadcrumb-item")
                a(href="#")
                  | Главная
              li(class="breadcrumb-item active" aria-current="page")
                  | Корзина
    div(class="container order py-4")
      div(class="row")
        div(class="col-12 col-md-12 col-sm-12 col-lg-9 col-xl-9")
          div(class="d-flex justify-content-start align-items-start order__item flex-column flex-lg-row flex-xl-row")
            div(class="img")
              img(src="img/wtf643q9.png" alt="img")
            div(class="d-flex flex-column order__option")
              span(class="order__header pb-4")
                | БОНГ NAUTILUS BAMBOO 32
              sapn(class="order__articl")
                | Артикул: TY51-HR09-CLBW
              form(class="d-flex justify-content-left form__numbers pt-4")
                button(class="number__minus")
                  | -
                span(class="form__numbers_val")
                  | 0
                input(type="number" class="mx-2" value="0" min="0" readonly hidden)
                button(class="number__plus")
                  | +

            div(class="d-flex align-items-end")
              div(class="order_old_price")
                span
                  span(class="order__price")
                    | 2950
                  span(class="order__val")
                    |  &#8381;
              div(class="order_new_price")
                span
                  span(class="order__price")
                    | 2950
                  span(class="order__val")
                    |  &#8381;
            div(class="order__item__close")
              form()
                button()

        div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3 pt-4 pt-lg-0 pt-xl-0")
          div(class="order__final")
            div(class="d-flex justify-content-between align-items-end")
              span()
                | Итого:
              span
                span(class="order__price")
                  | 2950
                span(class="order__val")
                  |  &#8381;
            form(class="pt-5 d-flex justify-content-center")
              button(class="btn")
                | Оформить заказ
    footer(class="footer py-5")
      div(class="container")
        div(class="row")
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Помощь
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Возврат
              li
                a(class="" href="#")
                  | Корзина
              li
                a(class="" href="#")
                  | Блог
              li
                a(class="" href="#")
                  | Контакты
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Акции
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Новинки
              li
                a(class="" href="#")
                  | Лояльность
              li
                a(class="" href="#")
                  | Купоны
          div(class="col-6 col-md-6 col-sm-6 col-lg-3 col-xl-3")
            span(class="footer__header py-4")
              | Оптовикам
            ul(class="d-flex  flex-column")
              li
                a(class="" href="#")
                  | Регистрация
              li
                a(class="" href="#")
                  | Оплата
              li
                a(class="" href="#")
                  | Доставка
              li
                a(class="" href="#")
                  | Описание API
              li
                a(class="" href="#")
                  | Дропшиппинг
              li
                a(class="" href="#")
                  | Франчайзинг
          div(class="col-12 col-md-12 col-sm-12 col-lg-3 col-xl-3")
            span(class="footer__header py-4 text-center text-lg-left")
              | Контакты
            div(class="d-flex justify-content-center")
              a(href="#" class="mx-2")
                img(src="img/003-youtube.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/002-twitter.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/001-instagram.svg" alt="img")
              a(href="#" class="mx-2")
                img(src="img/004-google-plus.svg" alt="img")  




    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    script(src="js/main.js")
